# **Importing Libraries and Common Code**

In [6]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     |████████████████████████████████| 11.9 MB 133 kB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-linux_x86_64.whl size=247965 sha256=954f83c59fbd7620a84062f7084c06a9ce9e544fe113f1c96c7a56f4051a4d72
  Stored in directory: /root/.cache/pip/wheels/42/2f/c3/692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [1]:
import pandas as pd
import numpy as np
import warnings
import mysql.connector
from sqlalchemy import create_engine

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
nmiDataset=pd.read_csv('c4net request id.csv')

# **Uploading the File**

In [9]:
#Uploading the data
from google.colab import files
#uploaded = files.upload()
import io

#uploading datasets
nmiDataset = pd.read_csv(io.BytesIO(uploaded['c4net request id.csv']))
print(nmiDataset.shape)
nmiDataset.head()

Saving c4net request id.csv to c4net request id.csv
(3000, 6)

   nmi company solar_ind    tariff_codes  postcode region
0    1      CP         Y     C3Ri;GENR13      3101  METRO
1    2      CP         N         C2RCDSi      3031  METRO
2    3      CP         N         C2RCDSi      3182  METRO
3    4      CP         N         C2RCDSi      3124  METRO
4    5      CP         Y  C1RCDSi;GENR13      3121  METRO

# **Processing the Data**

In [3]:
#Checking null values
nmiDataset.isnull().sum()

#Deleting the row/s with null values
nmiDataset = nmiDataset.dropna(how = 'any', axis = 0)

#Deleting 'Tariff_Code' column
nmiDataset = nmiDataset.drop(['tariff_codes'], axis = 1)

print(nmiDataset.shape)
nmiDataset.head()

(3000, 5)

   nmi company solar_ind  postcode region
0    1      CP         Y      3101  METRO
1    2      CP         N      3031  METRO
2    3      CP         N      3182  METRO
3    4      CP         N      3124  METRO
4    5      CP         Y      3121  METRO

# **Creating NMI Master table**

In [6]:
#Creating connection with DB
#myDB = mysql.connector.connect(host = "localhost",user = "root", password = "MySQLUser123",database = "solarheatingdb")
myDB=create_engine('mysql+mysqlconnector://root:Shah3214@localhost/solar_energy',pool_pre_ping=True)
#Creating cursor for communication with MySQL
#myCursor = myDB.cursor()

#Creating NMI master table in MySQL
#myCursor.execute("CREATE TABLE NMIMasterTable (Id INT AUTO_INCREMENT PRIMARY KEY, NMI VARCHAR(255), Company VARCHAR(255), SolarInd VARCHAR(255), PostCode VARCHAR(255), Region VARCHAR(255))")

In [ ]:
#engine=create_engine

In [10]:
with myDB.connect() as conn,conn.begin():
    nmiDataset.to_sql('Test',conn, if_exists='append',index=False)

# **Inserting NMI master data into table**

In [ ]:
#Creating engine for connection
#myEgine = create_engine("mysql+mysqlconnector://root:MySQLUser123@localhost/solarheatingdb")

#Inserting the data from dataframe to MySQL table
nmiDataset.to_sql('NMIMasterTable', con = myEgine, if_exists = 'append', chunksize = 1000)