In [28]:
#importing Libraries
from sqlalchemy import create_engine
import pandas as pd
import os
import warnings
from zipfile import ZipFile
from ipywidgets import IntProgress
from IPython.display import display
warnings.filterwarnings('ignore')

In [31]:
#As the data is in zip file, so unziping the files and merging them into a single dataframe
all_files = ZipFile("Jemena.zip",'r')
files = all_files.namelist()
data=[]
ProgressBar = IntProgress(value=0,min=0,max=len(files),step=1,
                          description='Loading:',bar_style='',orientation='horizontal')
display(ProgressBar)

for name in all_files.namelist():
    ProgressBar.value += 1
    df_Jemena_temp=pd.read_excel(all_files.open(name))
    data.append(df_Jemena_temp)
df_Jem = pd.concat(data)
print ('Finished loading', ProgressBar.value, 'Jemena Files.')

IntProgress(value=0, description='Loading:', max=16)

Finished loading 16 Jemena Files.

In [33]:
df_Jem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2096603 entries, 0 to 173457
Data columns (total 56 columns):
 #   Column                       Dtype
---  ------                       -----
 0   C4NET_NMI_ID                 float64
 1   C4NET_METER_ID               float64
 2   REGISTER_ID                  object
 3   METER_REG_ACTIVE_READING_DT  datetime64[ns]
 4   POSTAL_CD                    float64
 5   CITY                         object
 6   ESTIMATE_READ_BITMASK_IND    float64
 7   MTR_REG_ACT_ENERGY_01_KWH    float64
 8   MTR_REG_ACT_ENERGY_02_KWH    float64
 9   MTR_REG_ACT_ENERGY_03_KWH    float64
 10  MTR_REG_ACT_ENERGY_04_KWH    float64
 11  MTR_REG_ACT_ENERGY_05_KWH    float64
 12  MTR_REG_ACT_ENERGY_06_KWH    float64
 13  MTR_REG_ACT_ENERGY_07_KWH    float64
 14  MTR_REG_ACT_ENERGY_08_KWH    float64
 15  MTR_REG_ACT_ENERGY_09_KWH    float64
 16  MTR_REG_ACT_ENERGY_10_KWH    float64
 17  MTR_REG_ACT_ENERGY_11_KWH    float64
 18  MTR_REG_ACT_ENERGY_12_KWH    float64
 19  MTR_REG_ACT_ENERGY_13_KWH    float64
 20  MTR_REG_ACT_ENERGY_14_KWH    float64
 21  MTR_REG_ACT_ENERGY_15_KWH    float64
 22  MTR_REG_ACT_ENERGY_16_KWH    float64
 23  MTR_REG_ACT_ENERGY_17_KWH    float64
 24  MTR_REG_ACT_ENERGY_18_KWH    float64
 25  MTR_REG_ACT_ENERGY_19_KWH    float64
 26  MTR_REG_ACT_ENERGY_20_KWH    float64
 27  MTR_REG_ACT_ENERGY_21_KWH    float64
 28  MTR_REG_ACT_ENERGY_22_KWH    float64
 29  MTR_REG_ACT_ENERGY_23_KWH    float64
 30  MTR_REG_ACT_ENERGY_24_KWH    float64
 31  MTR_REG_ACT_ENERGY_25_KWH    float64
 32  MTR_REG_ACT_ENERGY_26_KWH    float64
 33  MTR_REG_ACT_ENERGY_27_KWH    float64
 34  MTR_REG_ACT_ENERGY_28_KWH    float64
 35  MTR_REG_ACT_ENERGY_29_KWH    float64
 36  MTR_REG_ACT_ENERGY_30_KWH    float64
 37  MTR_REG_ACT_ENERGY_31_KWH    float64
 38  MTR_REG_ACT_ENERGY_32_KWH    float64
 39  MTR_REG_ACT_ENERGY_33_KWH    float64
 40  MTR_REG_ACT_ENERGY_34_KWH    float64
 41  MTR_REG_ACT_ENERGY_35_KWH    float64
 42  MTR_REG_ACT_ENERGY_36_KWH    float64
 43  MTR_REG_ACT_ENERGY_37_KWH    float64
 44  MTR_REG_ACT_ENERGY_38_KWH    float64
 45  MTR_REG_ACT_ENERGY_39_KWH    float64
 46  MTR_REG_ACT_ENERGY_40_KWH    float64
 47  MTR_REG_ACT_ENERGY_41_KWH    float64
 48  MTR_REG_ACT_ENERGY_42_KWH    float64
 49  MTR_REG_ACT_ENERGY_43_KWH    float64
 50  MTR_REG_ACT_ENERGY_44_KWH    float64
 51  MTR_REG_ACT_ENERGY_45_KWH    float64
 52  MTR_REG_ACT_ENERGY_46_KWH    float64
 53  MTR_REG_ACT_ENERGY_47_KWH    float64
 54  MTR_REG_ACT_ENERGY_48_KWH    object
 55  TOTAL                        float64
dtypes: datetime64[ns](1), float64(52), object(3)
memory usage: 911.8+ MB

In [34]:
#Connecting to mysqlserver
myDB=create_engine('mysql+mysqlconnector://root:Shah3214@localhost/solar_energy',pool_pre_ping=True)

In [36]:
#Transfereing data to sql db
with myDB.connect() as conn,conn.begin():
    df_Jem.to_sql('jemena_complete',conn, if_exists='append',chunksize=10000,index=False)